<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- set up JDBC connection info -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@rev2004.c0ippggfggzg.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">DeckOfCards</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		
		<!-- tell Hibernate the SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!-- other, optional settings -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="use_sql_comments">true</property>
		
		<!-- tell Hibernate where our mappings are -->
		
		<!-- tags for mapping with xml -->
		<!--
		<mapping resource="Breed.hbm.xml"></mapping>
		-->
		
		<!-- tags for mapping with annotations -->
		<mapping class="com.revature.beans.Player"></mapping>
		<mapping class="com.revature.beans.Game"></mapping>
		<mapping class="com.revature.beans.GameType"></mapping>
		<mapping class="com.revature.beans.Card"></mapping>
	</session-factory>
</hibernate-configuration>